<table id="dm_notes_view" class="dm_notes_view">
    <thead>
    <tr>
        <th>Notes</th>
        <th>Location</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <% @dm_notes.each do |dm_note| %>
        <tr>
            <td><%= dm_note.note %></td>
            <td><%= dm_note.location %></td>
            <td><%= dm_note.created_at %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<script type="text/javascript">
    $('#dm_notes_view').dataTable({"bAutoWidth": false, "aaSorting": [
        [ 0, "desc" ]
    ]});    
</script>