<table id="dm_notes_view "class="dm_notes_view">
    <thead>
    <tr>
        <th>Notes</th>
        <th>Location</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>This is a sample note from Chennai DM</td>
        <td>Chennai</td>
        <td>01-01-2011</td>
    </tr>
    <tr>
        <td>This is a sample note from Pune DM</td>
        <td>Pune</td>
        <td>21-01-2011</td>
    </tr>
    <tr>
        <td>This is a sample note from Delhi DM</td>
        <td>Delhi</td>
        <td>13-02-2011</td>
    </tr>
    </tbody>
</table>
