<table>
    <tbody>
    <% ProjectTemplate.user_input_risk_types_from_json().each_with_index do |risk, index| %>
        <tr>
            <td><%= label risk["key"], risk["name"] %></td>
            <td><%= construct_widget(risk, @risk[risk["key"]]) %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= submit_tag "Save Risk" %>

<script type="text/javascript">
    Attachment.init();
    $(".datepicker").datepicker();
</script>
