<h3> Risk History </h3>
<div class="margin_left_10px">
  <table cellspacing="8" id="risk_history_table" class="risk_table">
    <thead>
      <% ProjectTemplate.tracked_risks_from_json.each do |risk_type| %>
        <th>
          <%= risk_type['key'] %>
        </th>
      <% end %>
    </thead>
    <tbody>
      <% @risk_variations.each do |risk_variation| %>
        <tr>
          <% ProjectTemplate.tracked_risks_from_json.each do |risk_type| %>
            <td class="align_top" style="min-width:120px">
              <% if risk_variation[risk_type['key']] %>
                  <%= risk_data_with_date(risk_variation,risk_type['key'])%>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
