<% form_tag save_risk_path(@project), :multipart => true do %>
  <table>
    <tbody>
      <% ProjectTemplate.risk_types_from_json.each_with_index do |risk,index|%>
        <tr>
          <td><%= label risk["key"], risk["name"]%></td>
          <td><%= text_area_tag "risk[#{risk["key"]}]"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Add Risk" %>
<% end %>
