hello
<table>
    <thead>
    <% ProjectTemplate.user_input_risk_types_from_json.each do |risk_type| %>
        <th>
            <%= risk_type['key'] %>
        </th>
    <% end %>
    </thead>
    <tbody>
    <tr>
        <% ProjectTemplate.user_input_risk_types_from_json.each do |risk_type| %>
            <td>
                <%= risk_data_with_date(@risk, risk_type['key'])%>
            </td>
        <% end %>
    </tr>
    <tr>
        <% ProjectTemplate.user_input_risk_types_from_json.each do |risk_type| %>
            <td class="align_top">
                <% @risk_variations.each do |risk_variation| %>
                    <% if risk_variation[risk_type['key']] %>
                        <div>
                            <%= risk_data_with_date(risk_variation,risk_type['key'])%>
                        </div>
                    <% end %>
                <% end %>
            </td>
        <% end %>
    </tr>
    </tbody>
</table>

