<div><h1>Project Metrics</h1>
	<table>
		<thead>
			<th>
				<%@metrics_list.each do |metric|%>
					<td><%=metric[1]["name"]%></td>
				<%end%>
			</th>			
		</thead>
		<tbody>
		</tbody>
	</table>
</div>