<h1>Project Properties</h1>
<br /> <br />
<% @project_template.properties_group.each do |property| %>
	<% if property.tracked == "yes" %>
		<div id ="<%=property.key%>" class="property_field">
			<div class="left_property_area">
				<%= property.name %>
				<h2><%= property.description %></h2>
			</div>
			<div class="right_property_area">
				<%= generate_form_tag_for_property(property, form) %>
			</div>
		</div>
	<% end %>
<% end %>
<div class="clear"></div>