<div class="section">
	<div id="projects">
		<h2>Project List</h2>
		<div class="content">
			<% Project.view("by_list", :key=>true).each do |project| %>
				<ul>
				  <li><%= link_to project.name, project_path(project.id)%></li>
				</ul>
			<% end %>
		</div>
	</div>
</div>
