<h1>Project Properties</h1>
<br /> <br />
<%@fields.each do |field|%>
   	<% if(field[1]["tracked"]=="yes")%>
	<div id=<%="#{field[0]}"%> class="property_field">
             <div class="left_property_area">
		<%=field[1]["name"]%>
                <h2><%=field[1]["description"]%></h2>
             </div>
             <div class="right_property_area">
                <%= generate_form_tag_for_property(field)%>
             </div>
	</div>
 	<%end%>
<%end%>
<div class="clear" />
<br /> <br />
