<h1>Project Metrics</h1>
<br /> <br />
<%@project_template.metrics_group.each do |metric_group|%>
	<h3><%=metric_group.name%></h3>
	<%metric_group.data.each do |metric|%>
		<div class="metric_field">
			<%=generate_check_box_tag(metric)%>
			<%=metric.name%><h2><%=metric.description%></h2>
		</div>
	<%end%>
<%end%>
