<div class="content_wrapper">
    <% if not flash[:errors].blank? %>
        <div class="error"><%= concatenate_errors(flash[:errors]) %></div>
    <% end %>    
	<% form_for @project do |f| %>
		<%= render :partial => "project_properties_form", :locals => {:form => f} %>
		<%= render :partial => "project_metrics_form", :locals => {:form => f} %>
		<%= f.submit "Update Project information" %>
	<% end %>
</div>
