<h3>Add new Iteration Information</h3>
<% form_tag save_iteration_path(@project) do %>
	<div class="left_property_area">
		<h2>Week Ending Date</h2>
	</div>
	<div class="right_property_area">
		<%= text_field "project[iterations]", "date", {:class=>"datepicker"} %>
	</div>
	<% @project.stuffed_metrics.each do |metric| %>
	<div class="left_property_area">
		<h2><%= metric["name"]%></h2>
	</div>
	<div class="right_property_area">
		<%= select_tag "project[iterations][#{metric['key']}]", options_for_select(["Red", "Green", "Amber"]) %>
	</div>
	<% end %>
<% end %>