<div class="content_wrapper">
    <div id="project">
        <h1><%= @project.name %></h1>
        <%= link_to "Export as Excel", export_project_as_csv_path(@project) %>
        <div id="project_read_only_view">
            <%= render :partial => "project_properties" %>
            <%= render :partial => "project_metrics" %>
        </div>
    </div>
</div>
