<h1>Legend</h1>
<table class="legend">
	<tr>
		<td><div class="indicator circle green"></div></td>
		<td><div class="indicator circle amber"></div></td>
		<td><div class="indicator circle red"></div></td>
		<td><div class="indicator circle undefined"></div></td>	
	</tr>
	<tr>
		<td>Green</td>
		<td>Amber</td>
		<td>Red</td>
		<td>No Data</td>
	</tr>
</table>