<div class="section">
	<h2>Legend</h2>
	<div class="content">
		<table class="legend">
			<tr>
				<td><div class="indicator circle green"></div></td>
				<td><div class="indicator circle lightgreen"></div></td>
				<td><div class="indicator circle amber"></div></td>
				<td><div class="indicator circle orange"></div></td>
				<td><div class="indicator circle red"></div></td>
			</tr>
			<tr>
				<td>Green</td>
				<td>Light Green</td>
				<td>Amber</td>
				<td>Orange</td>
				<td>Red</td>
			</tr>
		</table>
	</div>
</div>